Repository opendp/opendp, pull requests merged in 2024-04, with the labels that each got.

#1455 Update LICENSE
  LICENSE
Labels: docs

#763 Polars: add `SeriesDomain`
  .github/workflows/build.yml
  .github/workflows/smoke-test.yml
  python/src/opendp/_extrinsics/_make_np_eigenvector/__init__.py
  rust/Cargo.toml
  rust/src/combinators/mod.rs
  rust/src/domains/mod.rs
  rust/src/domains/polars/mod.rs
  rust/src/domains/polars/series/mod.rs
  rust/src/error.rs
  rust/src/traits/mod.rs
  rust/src/transformations/mean/mod.rs
  rust/src/transformations/sum_of_squared_deviations/mod.rs
  rust/src/transformations/variance/mod.rs
Labels: polars-integration

#765 Polars: add `FrameDomain`
  rust/src/domains/polars/frame/mod.rs
  rust/src/domains/polars/mod.rs
Labels: polars-integration

#767 Polars: `series_domain` ffi
  .github/workflows/build.yml
  .github/workflows/smoke-test.yml
  R/opendp/src/opendp.h
  python/setup.cfg
  python/src/opendp/_convert.py
  python/src/opendp/_data.py
  python/src/opendp/domains.py
  python/src/opendp/typing.py
  python/test/test_polars.py
  rust/Cargo.toml
  rust/opendp_tooling/src/bootstrap/arguments.rs
  rust/opendp_tooling/src/bootstrap/mod.rs
  rust/opendp_tooling/src/bootstrap/signature.rs
  rust/opendp_tooling/src/codegen/python.rs
  rust/opendp_tooling/src/codegen/r/c.rs
  rust/opendp_tooling/src/codegen/r/mod.rs
  rust/opendp_tooling/src/codegen/r/r.rs
  rust/opendp_tooling/src/lib.rs
  rust/src/data/ffi.rs
  rust/src/domains/polars/series/ffi.rs
  rust/src/domains/polars/series/mod.rs
  rust/src/ffi/util.rs
  tools/update_notes.R
Labels: polars-integration

#769 Polars: `lazyframe_domain` ffi
  R/opendp/src/opendp.h
  python/src/opendp/_convert.py
  python/src/opendp/domains.py
  python/src/opendp/typing.py
  python/test/test_convert.py
  python/test/test_polars.py
  rust/opendp_tooling/src/bootstrap/signature.rs
  rust/opendp_tooling/src/codegen/python_typemap.json
  rust/opendp_tooling/src/codegen/r/mod.rs
  rust/src/data/ffi.rs
  rust/src/domains/polars/frame/ffi.rs
  rust/src/domains/polars/frame/mod.rs
Labels: polars-integration

#795 Polars: add `ExprDomain`
  R/opendp/src/opendp.h
  python/src/opendp/_convert.py
  python/src/opendp/domains.py
  python/src/opendp/typing.py
  python/test/test_convert.py
  python/test/test_polars.py
  rust/opendp_tooling/src/bootstrap/signature.rs
  rust/opendp_tooling/src/codegen/r/mod.rs
  rust/src/data/ffi.rs
  rust/src/domains/polars/expr/ffi.rs
  rust/src/domains/polars/expr/mod.rs
  rust/src/domains/polars/frame/mod.rs
  rust/src/domains/polars/mod.rs
  rust/src/ffi/util.rs
Labels: polars-integration

#847 Polars: add `make_private_aggregate`
  python/test/test_polars.py
  rust/src/core/mod.rs
  rust/src/measurements/make_private_lazyframe/aggregate/mod.rs
  rust/src/measurements/make_private_lazyframe/mod.rs
  rust/src/transformations/cast_metric/mod.rs
Labels: polars-integration

#1522 Devs should install all optional dependencies
  docs/source/contributing/development-environment.rst
Labels: docs, CI

#797 Polars: add `make_expr_col`
  rust/src/domains/polars/expr/mod.rs
  rust/src/error.rs
  rust/src/measurements/make_private_expr/mod.rs
  rust/src/transformations/make_stable_expr/expr_col/mod.rs
  rust/src/transformations/make_stable_expr/mod.rs
Labels: polars-integration

#819 Polars: add `make_expr_sum`
  rust/src/core/polars/mod.rs
  rust/src/domains/polars/expr/mod.rs
  rust/src/traits/arithmetic/mod.rs
  rust/src/traits/mod.rs
  rust/src/transformations/cast_metric/traits.rs
  rust/src/transformations/make_stable_expr/expr_sum/mod.rs
  rust/src/transformations/make_stable_expr/expr_sum/test.rs
  rust/src/transformations/make_stable_expr/ffi.rs
  rust/src/transformations/make_stable_expr/mod.rs
Labels: polars-integration
