Repository opendp/opendp, pull requests merged in 2024-08, with the labels that each got.

#1735 docs: Noise comparison
  .binder/requirements.txt
  docs/source/getting-started/assessing-utility/noise.ipynb
Labels: docs-education

#1907 Remove unused TODO files in docs
  docs/source/getting-started/installation-TODO.rst
  docs/source/getting-started/quickstart-TODO.rst
Labels: docs, docs-polars

#1279 mechanism: randomized response bitvec
  rust/Cargo.toml
  rust/src/domains/mod.rs
  rust/src/measurements/mod.rs
  rust/src/measurements/randomized_response_bitvec/make_randomized_response_bitvec.tex
  rust/src/measurements/randomized_response_bitvec/mod.rs
  rust/src/measurements/randomized_response_bitvec/pseudocode/make_randomized_response_bitvec.py
  rust/src/measurements/randomized_response_bitvec/references.bib
  rust/src/metrics/mod.rs
Labels: Proof

#1897 Update regression notebook
  docs/source/getting-started/statistical-modeling/regression.ipynb
Labels: docs, docs-polars

#1315 proof: `make_randomized_response`
  R/opendp/src/opendp.h
  rust/src/lib.sty
  rust/src/measurements/randomized_response/ffi.rs
  rust/src/measurements/randomized_response/make_randomized_response.tex
  rust/src/measurements/randomized_response/make_randomized_response_bool.tex
  rust/src/measurements/randomized_response/mod.rs
  rust/src/measurements/randomized_response/pseudocode/make_randomized_response.py
  rust/src/measurements/randomized_response/pseudocode/make_randomized_response_bool.py
  rust/src/measurements/randomized_response/randomized_response.bib
  rust/src/measurements/randomized_response/test.rs
  rust/src/traits/samplers/bernoulli/pseudocode/sample_bernoulli_float.py
  rust/src/traits/samplers/bernoulli/pseudocode/sample_bernoulli_rational.py
Labels: Proof

#1834 Docs: Computing Fundamental Statistics Notebook
  docs/requirements_notebooks.txt
  docs/source/getting-started/tabular-data/essential-statistics.ipynb
  docs/source/getting-started/tabular-data/grouping.ipynb
  docs/source/getting-started/tabular-data/index.rst
Labels: docs, docs-polars
